$font-stack: Helvetica, sans-serif;
$primary-colour: #063E4C;
$secondary-colour: #8FC5DF;
$tertiary-colour: #fff;
$quartiary-colour: #E2DFD5;
$quintiary-colour: #676661;
$small-border-radius: 5px;
$small-margin: 10px;
