<h1>Hello, LUIS!</h1>
<form #luisForm="ngForm" (ngSubmit)="AddToLuisCheck(luisForm.form)">
  <input type="text"
         class="form-control"
         name="luis-query"
         ngModel
         minlength="3"
         #nameField="ngModel" />
  <button class="btn btn-primary">Submit</button>
</form>
<div ng-model="luisResult">{{ luisResult }}</div>
<div *ngFor="let item of luisLinesToCheck">{{ item }}</div>
<button class="btn btn-primary" (click)="GetLuisResult()">Check for Luis matches</button>
