<div class="luis-form">
  <form #luisForm="ngForm" (ngSubmit)="AddToLuisCheck(luisForm.form)">
    <label for="luis-query">{{ this.labelForInput }}</label>
    <input type="text"
           class="form-control"
           name="luis-query"
           ngModel
           minlength="3"
           #nameField="ngModel" />
    <button class="btn btn-primary">Submit</button>
  </form>
</div>

<div class="luis-display">
  <div *ngFor="let item of luisLinesToCheck; let i = index" >{{ item }} -- <div class="luis-remove" (click)="RemoveItemFromArray(i)">X</div></div>
  <button class="btn btn-primary" (click)="GetLuisResult()">Check for Luis matches</button>
</div>
