@import 'site-variables.scss';

.luis-form {
  text-align: center;

  label {
    color: $tertiary-colour;
  }

  input {
    max-width: 100%;
  }

  button {
    margin-top: $small-margin;
    margin-bottom: $small-margin;
  }
}

.luis-page-header {
    border-bottom: $primary-thick-border;
    color: $primary-text-colour;
}
.luis-display {
    width: 100%;
    padding: 15px 30px;
    margin-top: $small-margin;
    margin-bottom: $small-margin;
    text-align: center;
    border-radius: $small-border-radius;
    border: 1px solid #07a193;

    & > div {
        border-radius: $small-border-radius;
        background-color: $secondary-colour;
        margin-top: $small-margin;
        line-height: 30px;
        border: 1px solid $tertiary-colour;
        vertical-align: middle;
        text-align: left;
    }

    & > button {
        margin: 0 auto;
        margin-top: $small-margin;
        padding-top: 5px;
        width: 200px;
    }

    .luis-remove {
        float: right;
        padding-right: 5px;
        padding-left: 5px;
        color: red;
        cursor: pointer;
    }

    & del {
        color: red;
        font-weight: bold;
    }

    & ins {
        color: lawngreen;
        font-weight: bold;
    }
}
