body {
  background-color: rgba(37, 44, 49, 0.98); }

.luis-form {
  text-align: center; }
  .luis-form label {
    color: #fff; }
  .luis-form input {
    max-width: 100%; }
  .luis-form button {
    margin-top: 10px;
    margin-bottom: 10px; }

.luis-page-header {
  border-bottom: 2px solid #07a193;
  color: azure; }

.luis-display {
  width: 100%;
  padding: 15px 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 1px;
  border: 1px solid #07a193; }
  .luis-display > div {
    border-radius: 1px;
    background-color: #8FC5DF;
    margin-top: 10px;
    line-height: 30px;
    border: 1px solid #fff;
    vertical-align: middle;
    text-align: left; }
  .luis-display > button {
    margin: 0 auto;
    margin-top: 10px;
    padding-top: 5px;
    width: 200px; }
  .luis-display .luis-remove {
    float: right;
    padding-right: 5px;
    padding-left: 5px;
    color: red;
    cursor: pointer; }
  .luis-display del {
    color: red;
    font-weight: bold; }
  .luis-display ins {
    color: lawngreen;
    font-weight: bold; }
