$font-stack: Helvetica, sans-serif;
$primary-colour: rgba(37,44,49,.98);
$secondary-colour: #8FC5DF;
$tertiary-colour: #fff;
$quartiary-colour: #E2DFD5;
$quintiary-colour: #676661;
$small-border-radius: 1px;
$small-margin: 10px;
$primary-thick-border: 2px solid #07a193;
$primary-text-colour: azure;
